<div class="card-container">
  <div class="card" *ngFor="let jogador of jogadores">
    <div class="card-content">
      <h3>{{ jogador.nome | uppercase}}</h3>
      <p>Posição: {{ jogador.posicao | uppercase }}</p>
      <p>Altura: {{ jogador.altura }}</p>
      <p>Data de Nascimento: {{ jogador.dataNascimento }}</p>
      <p>Clube: {{ jogador.clube | uppercase }}</p>
    </div>
    <div class="card-actions">
      <button [routerLink]="'/editar-jogador/' + jogador.nome" (click)="selecionarJogador(jogador)" class="btn">Editar</button>
      <button (click) = "this.excluirJogador(jogador)" class="btn">Excluir</button>
    </div>
  </div>
  <div *ngIf="jogadores.length === 0" class="empty-message">Nenhum jogador encontrado.</div>
</div>
