<div class="card-container">
    <div class="card" *ngFor="let clube of clubes">
      <div class="card-content">
        <h3>{{ clube.nome }}</h3>
        <p>Fundação: {{ clube.dataFundacao }}</p>
        <p>Estádio: {{ clube.nomeEstadio }}</p>
        <p>Categorias de Base: {{ clube.possuiCategoriasDeBase }}</p>
        <p>Ativo: {{ clube.ativo }}</p>
      </div>
      <div class="card-actions">
        <button [routerLink]="'/editar-clube/' + clube.nome" (click)="selecionarClube(clube)" class="btn">Editar</button>
        <button (click)="this.excluirClube(clube)" class="btn">Excluir</button>
      </div>
    </div>
    <div *ngIf="clubes.length === 0" class="empty-message">Nenhum clube encontrado.</div>
  </div>
  