<form>
    <div>
      <label for="nome">Nome:</label>
      <input type="text" id="nome" name="nome" required>
    </div>
    <div>
      <label for="posicao">Posição:</label>
      <input type="text" id="posicao" name="posicao" required>
    </div>
    <div>
      <label for="altura">Altura:</label>
      <input type="text" id="altura" name="altura" required>
    </div>
    <div>
      <label for="dataNascimento">Data de Nascimento:</label>
      <input type="text" id="dataNascimento" name="dataNascimento" required>
    </div>
    <div>
      <label for="clube">Clube:</label>
      <input type="text" id="clube" name="clube" required>
    </div>
    <div class="buttons">
      <button type="submit">OK</button>
      <button type="button">Cancelar</button>
    </div>
  </form>
  