<section class="landing">
    <div class="landing-inner" [hidden] = "this.isHidePanel">
      <h1>Bem-vindo ao painel de gerenciamento!</h1>
      <p>Escolha uma opção:</p>
      <div class="button-container">
        <a routerLink="/cadastrar-clube" class="btn">Cadastrar Clube</a>
        <a routerLink="/cadastrar-jogador" class="btn">Cadastrar Jogador</a>
        <a routerLink="/listar-clubes" class="btn">Lista de Clubes</a>
        <a routerLink="/listar-jogadores" class="btn">Lista de Jogadores</a>
      </div>
    </div>
  </section>
  